.register-layout {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f5f7;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 20px;
}

.signup-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.input {
  line-height: 28px;
}

.register-btn {
  width: 100%;
}

.signup-container a {
  color: #3498db;
}
