body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
  color: #333333;
  margin: 0;
}

.home-page {
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-container {
  padding: 2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cta-container p {
  margin-top: 0;
}

.cta-button {
  font-size: 24px;
  height: 50px;
  width: 10rem;
}

.image-container {
  position: relative;
  overflow: hidden;
  margin-top: 16px;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

@media (min-width: 769px) {
  .home-page {
    margin-top: 8vh;
    flex-direction: row;
  }

  .content-container {
    margin: 0;
    flex-direction: row;
  }

  .cta-container,
  .image-container {
    flex: 1;
  }

  .cta-container {
    margin-right: 2rem;
  }

  .image-container {
    margin-right: 2rem;
  }
}

.app-title {
  font-size: 4rem;
  color: #3498db;
  margin-bottom: 1rem;
}

.slogan {
  font-size: 3rem;
  margin-bottom: 2rem;
}
