/* WorkoutCard.css */

.workout-card {
    width: 20%;
    margin: 10px;
    /* Add additional styling for your workout card as needed */
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-content h3 {
    margin: 0;
  }
  