.workout-card {
  width: 20%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f1;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 1rem;
  cursor: pointer;
}

.card-content {
  padding: 0 16px;
  text-align: center;
}
