.workout-details {
  margin-top: 10vh;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.workout-name {
  width: 20%;
}

.workout-exercises-container {
  display: flex;
}

.search-exercise-container {
  width: 50%;
}

.exercise-row-list {
  width: 50%;
}

.workout-details h1 {
  font-size: 24px;
  margin-left: 16px;
}

.workout-name-input {
  font-size: 17px;
  margin-bottom: 16px;
}

.delete-btn {
  width: 160px;
}

@media (max-width: 768px) {
  .workout-name {
    width: 50%;
  }

  .workout-exercises-container {
    flex-direction: column-reverse;
  }

  .search-exercise-container {
    width: 100%;
  }

  .exercise-row-list {
    width: 100%;
  }
}
