.search-bar {
    display: flex;
    margin: 10px;
    width: 20%;
  }
  
input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
}

@media (max-width: 768px) {
    input {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}