.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: white;
  padding: 30px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 50px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: #00bfff;
  transform: scale(1.1);
}

.home-link {
  font-size: 28px;
  letter-spacing: -1px;
  font-weight: bold;
}

.logout-btn {
  background-color: #ff4d4f;
  margin-right: 24px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.logout-btn:hover {
  background-color: #d9363e !important;
  transform: scale(1.05);
}

.mobile-nav {
  display: none;
}

.custom-drawer .ant-drawer-content {
  background-color: white;
  color: black;
}

.custom-drawer .ant-drawer-header {
  background-color: white;
}

.custom-drawer .ant-drawer-header-title {
  height: 30px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.drawer-link {
  width: 60%;
  display: block;
  background-color: white;
  margin: 15px 0;
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 5px 0;
  padding-left: 30px;
  text-align: left;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.drawer-link:hover {
  color: #00bfff;
}

.home-drawer-link {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
}

.custom-drawer .ant-drawer-content-wrapper {
  height: auto;
  max-height: 90%;
  width: 40%;
}

.ant-drawer-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ant-drawer-mask {
  background-color: white;
}

.custom-drawer .ant-drawer-close {
  color: black;
}

.hamburger-btn {
  margin-left: 16px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }

  .job-status {
    display: none;
  }

  .logout-btn {
    margin: 16px;
  }
}

.job-status {
  margin-right: 24px;
  color: black;
}
