.navbar {
  height: 5vh;
  background-color: #2C3E50;
  color: #ECF0F1;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  width: 50%;
  display: flex;
  padding-left: 10px
}

.nav-link {
  color: white;
  margin-right: 10%;
  text-decoration: none;
}

.logout-btn-container {
  width: 50%;
  padding-right: 10px;
}

.logout-btn {
  float: right;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}