.navbar {
  height: 8vh;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  width: 50%;
  display: flex;
  margin-left: 3rem;
}

.nav-link {
  color: white;
  font-size: 1.5rem;
  margin-right: 3rem;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #3498db;
}

.user-logout-container {
  width: 50%;
  padding-right: 10px;
}

.user-logout-sub-container {
  float: right;
}

.user-name {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.logout-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  height: 3rem;
  margin: 0 1rem;
}

@media (max-width: 768px) {
  .nav-links {
    width: 50%;
    display: flex;
    margin-left: 1rem;
  }

  .nav-link {
    font-size: 1rem;
    margin-right: 1rem;
  }

  .user-logout-container {
    padding-right: 10px;
  }

  .user-logout-sub-container {
    display: flex;
    align-items: center;
  }

  .user-name {
    font-size: 1rem;
    margin-right: 0;
  }

  .logout-btn {
    font-size: 1rem;
    margin-right: 0;
  }
}
