.modal-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.input-label {
  font-size: 1.2rem;
  margin-right: 8px;
  width: 50px;
}

.input-field {
  flex: 1;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.create-workout-input-field {
  font-size: 1.2rem;
  width: 300px;
}

.ant-alert {
  margin-top: 16px;
}
