.workouts-container {
  margin-top: 10vh;
  padding: 1rem 3rem;
}

.my-workouts {
  margin-bottom: 2rem;
}

.workout-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}
